@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;400&display=swap');

// variables

$margin: 10px;
$color: #000;

//estilos

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

// body

body{
    font-family: 'Lexend Tera', sans-serif;
    background-image: url(../multimedia/img/waves.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// titulos

h1{
    margin: $margin;
    letter-spacing: 10px;
    word-spacing: 30px;
    font-size: 50px;
    font-weight: 400;
    color: $color;
}

.navbar{
    text-transform: capitalize;
    font-size: larger;
}

.nav-item{
    margin: $margin;
}

.video{
    border-radius: 10%;
}

h2{
    margin: $margin;
    color: $color;
}

h3{
    margin: $margin;
    color: $color;
}

.text{
    text-align: justify;
}

/* inicio footer */

#foot{
    word-spacing: 20px;
    margin-top: 20px;
}

span i{
    font-size: 40px;
    color: #12522c;
}