@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Lexend Tera', sans-serif;
    background-image: url(../multimedia/img/waves.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    margin-top: 20px;
}

.navbar{
    text-transform: capitalize;
    font-size: larger;
}

.nav-item{
    margin-left: 20px;
}

.video{
    border-radius: 10%;
}

/* inicio footer */

#foot{
    word-spacing: 20px;
}

span i{
    font-size: 40px;
    color: #12522c;
}


