@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Lexend Tera', sans-serif;
    background-image: url(../multimedia/img/waves.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* inicio header */

.header{
    /* background-image: url(../multimedia/img/fondo1.jpg); */
    background-position: center;
    background-size: cover;
    height: auto;
    width: auto;
    text-align: center;
}


h1 {
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 50px;
    word-spacing: 35px;
    letter-spacing: 20px;
    font-style: normal;
    color: #000;
    font-family: 'Lexend Tera', sans-serif;
    font-weight: 400;
    }

/* inicio navegador */

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-top: 20px;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #12522c;
}

/* inicio seccion */

.seccion__servicio{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 20px;
}

.descripcion{
    height: auto;
    width: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.img__servicio{
    height: 300px;
    width: 400px;
    border-radius: 20px;
}

#t1{
    transition: all 0.5s;
}

#t1:hover{
    height: 320px;
    width: 420px;
}

/* inicio grids areas */

.item1{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
}

.item2{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}

.item3{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
}

.item4{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}

/* inicio footer */

#foot{
    display: block;
    word-spacing: 20px;
    text-align: center;
    margin-top: 20px;
}

span i{
    font-size: 40px;
    color: #12522c;
}

.foot__logo--estilos{
    height: 150px;
    width: auto;
}

/* inicio media queris */

@media only screen and (min-width:601px) and (max-width:825px){
    .img__servicio{
        height: 200px;
        width: 250px;
    }
}

@media only screen and (min-width:360px) and (max-width:600px){
    
    .header{
        width: auto;
        grid-template-columns: 1fr;
    }

    ul{
        display: inline-block;
    }

    .seccion__servicio{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .item1{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .item2{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .item3{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .item4{
        grid-column: 1/2;
        grid-row: 4/5;
    }
}