@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Lexend Tera', sans-serif;
    background-image: url(../multimedia/img/waves.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    margin-top: 20px;
    letter-spacing: 10px;
    word-spacing: 30px;
    font-size: 50px;
    font-weight: 400;
    color: #000;
}

.navbar{
    text-transform: capitalize;
    font-size: larger;
}

.nav-item{
    margin-left: 20px;
}

img{
    height: 300px;
    width: 400px;
    border-radius: 10%;
    margin-top: 20px;
}

#t1{
    transition: all 0.5s;
}

#t1:hover{
    height: 320px;
    width: 420px;
}

h3{
    margin-top: 20px;
    color: #000;
}

/* inicio footer */

#foot{
    margin-top: 20px;
    word-spacing: 20px;
}

span i{
    font-size: 40px;
    color: #12522c;
}

#foot__logo{
    height: 200px;
    width: 200px;
}
